@charset "utf-8";
// CUSTOM VARIABLES
$primary: #cc0033;
$footer-background-color: #fff;
$footer-padding: 2rem 1.5rem;
$box-radius: 0;
$box-shadow: none;
$family-sans-serif: 'Lato', sans-serif;
// CUSTOM CSS
.center-block 
    margin: 0 auto;
    display: block;

.subtitle 
    color: #808080;

.navbar-item
    margin: 0 15px; 
/* WELCOME SECTION */
.welcome-section 
    position: relative;

.bg-overlay 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;;
    background-image: linear-gradient(#cc0033, #ff3333);
    transform: skewY(-16deg);
    transform-origin: top left;

.welcome-section__contents 
    margin-top: 20%;

.welcome-section .welcome-section__title 
    letter-spacing: 5px;

.welcome-section__btn-download 
    margin-top: 30px;

/* TESTIMONIALS */
.testimonial-section 
    margin: 3rem 0;
    border-top: 2px solid whitesmoke;

.testimonial-section .title 
    margin-bottom: 3rem;

.testimonial-item
    position: relative;
    border: 1px solid whitesmoke;

.testimonial-item-middle:after
    content: "";
    position: absolute;
    bottom: -.375rem;
    left: 7%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    height: .75rem;
    width: .75rem;
    margin-left: -5px;
    background-color: hsla(0,0%,100%,.98);
    pointer-events: none;

.testimonial-item:not(.testimonial-item-middle):before 
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid whitesmoke;
  border-bottom: 10px solid transparent;
  left: 7%;
  bottom: -21px;

.testimonial-item:not(.testimonial-item-middle):after
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 7%;
  bottom: -18px;

.testimonial-item.testimonial-item-middle 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: none;

.testimonial-item .testimonial-message 
    font-style: italic;


/* FEATURE SECTION */
.feature-section 
    background-image: linear-gradient(#cc0033, #ff3333);
    position: relative;
    margin: 200px 0;
    min-height: 83vh !important;

.feature-item
    margin-bottom: 20px;

.feature-section .title 
    margin-bottom: 10px !important;

.feature-section__mobile-phone
    position: absolute;
    top: -221px;
    left: 32%;

/* SUBSCRIBE */
.subscribe-section 
    margin: 3rem 0;

.subscribe-section .field.has-addons 
    justify-content: center;
    margin-top: 50px;

.subscribe-section .field.has-addons .input 
    border-bottom-left-radius: 290486px;
    border-top-left-radius: 290486px;

/* DOWNLOAD SECTION */
.download-section 
    margin: 3rem 0;
    border-top: 2px solid whitesmoke;

/* FOOTER */
.footer 
    border-top: 1px solid whitesmoke;

.footer-link 
    color: #808080;

.footer__language-dropdown
    float: right;

@media screen and (max-width: 768px)
    .welcome-section__contents
        margin-top: 0;

    .welcome-section__btn-download
        margin: 0 auto;
        display: block !important;

    .feature-section
        margin: 0;
        min-height: unset !important;

    .feature-section__mobile-phone
        position: relative;
        top: unset;
        left: unset;

    .feature-section img
        margin: 0 auto;
        display: block !important;

    .footer__language-dropdown
        float: left;


@media only screen and (max-width: 1023px) and (min-width:  769px)
    .feature-section
        margin: 0;
        min-height: unset !important;

    .feature-section__mobile-phone
        position: relative;
        top: unset;
        left: unset;

@media only screen and (max-width: 1215px) and (min-width:  1024px)
    .feature-section
        margin: 0;
        min-height: unset !important;

    .feature-section__mobile-phone
        position: relative;
        top: unset;
        left: unset;
// @media only screen and (max-width: 1407px) and (min-width:  1216px)

// @media screen and (min-width: 1408px)
    // IMPORT BULMA
@import "../../../node_modules/bulma/bulma.sass";